{% extends 'base.html' %}

{% block main %}
    <style>
        .container {
          display: grid;
          grid-columns: auto auto auto;
          background-color: #2196F3;
          padding: 10px;
        }

        .grid-item {
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.8);
          padding: 20px;
          font-size: 30px;
        }
    </style> 

    <div class="container">
    	{% for shot in shots %}
        	<div >
        	    <ul>
            	  	<li>
            	  	    <img class="grid-item" src="{{ url_for('static', filename='uploads/' + shot) }}" 
            	  	    height="300" width="300" /> 
            	  	</li>
        	  	</ul>
        	</div>
    	{% endfor %}
    </div>
{% endblock %}