{% extends 'base.html' %}

{% block main %}
    <style>
        .container {
          display: grid;
          grid-template-columns: auto auto auto;
          grid-gap: 20px;
          background-color: #2196F3;
          padding: 10px;
        }

        .grid-item {
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(0, 0, 0, 0.8);
          padding: 20px;
          font-size: 30px;
        }
    </style> 

    <div class="container">
    	{% for shot in shots %}
        	<div >
            	  	    <img class="grid-item" src="{{ url_for('static', filename='uploads/' + shot) }}" 
            	  	    height="350" width="350" /> 
        	</div>
    	{% endfor %}
    </div>
{% endblock %}